.container {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: rgb(253, 135, 98);
  background: linear-gradient(
    #00c9ff, #92fe9d
  );
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Headliner";
  font-size: 34px;
}
