.titleContainer {
  position: absolute;
  top: 20%;
  left: 5%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.titleOne {
  font-size: 5vw;
  font-family: "Barlow", sans-serif;
  align-self: center;
  font-weight: bold;
  color: #95020a;
}

.titleTwo {
  font-size: 8vw;
  font-family: "Barlow", sans-serif;
  align-self: center;
  font-weight: bold;
  color: #2f2c4a;
}

.titleThree {
  font-size: 7vw;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: #2f2c4a;
  align-self: center;
}
.blink {
  font-weight: lighter;
  font-family: sans-serif;
  color: #3f3d56;
  animation: blinking 0.75s infinite;
}

@keyframes blinking {
  25% {
    color: transparent;
  }
  50% {
    color: #3f3d56;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #3f3d56;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 720px) {
  /* some CSS here */
  .titleContainer {
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .titleOne {
    font-size: 40px;
  }
  .titleTwo {
    font-size: 52px;
  }
  .titleThree {
    font-size: 50px;
  }
}

@media screen and (max-device-width: 320px) {
  /* some CSS here */
  .titleContainer {
    position: absolute;
    top: 20%;
    left: 15%;
  }
  .titleOne {
    font-size: 30px;
  }
  .titleTwo {
    font-size: 40px;
  }
  .titleThree {
    font-size: 30px;
  }
}
