.titleContainer {
  position: absolute;
  top: 20%;
  left: 5%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  padding: 31px;
}

.titleOne,
.titleTwo,
.titleThree {
  font-size: 8vw;
  font-family: "headliner";
  align-self: flex-start;
  text-align: left;
  color: #262630;
}
.titleThreeAddon {
  color: #95020a;
}

.blink {
  font-family: Arial;
  color: #3f3d56;
  animation: blinking 0.75s infinite;
}

.blinkRed {
  font-family: "headliner";
  color: #95020a;
  animation: blinkingRed 0.75s infinite;
}

@keyframes blinking {
  25% {
    color: transparent;
  }
  50% {
    color: #3f3d56;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #3f3d56;
  }
}

@keyframes blinkingRed {
  25% {
    color: transparent;
  }
  50% {
    color: #95020a;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #95020a;
  }
}
@media screen and (max-device-width: 720px) {
  /* some CSS here */
  .titleContainer {
    position: absolute;
    width: 100vw;
    top: 15%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .titleOne,
  .titleTwo,
  .titleThree {
    font-size: 50px;
  }
}
