.title {
  position: absolute;
  top: 40%;
  right: 10%;
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: rgba(13, 8, 42, 0.55);
}

@media screen and (min-device-width: 720px) {
  .title {
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 3rem;
  }
}
