.container {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  padding-top: 80px;
  height: calc((var(--vh, 1vh) * 100) - 80px);
  /* background: rgb(92, 68, 218);
  background: linear-gradient(
    180deg,
    rgba(92, 68, 218, 1) 0%,
    rgba(149, 84, 176, 1) 50%,
    rgba(207, 100, 133, 1) 100%
  ); */
  background: rgb(253, 135, 98);
  background: linear-gradient(#00c9ff, #92fe9d);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.container > div:first-child {
  position: relative;
  top: 0;
  left: 10px;
}

.pagination span {
  background-color: #007aff;
}
.img_cards {
  /* box-shadow: -1px 15px 30px -12px black; */
  width: 300px;
  height: 300px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
}

.imgContainer img {
  box-shadow: -1px 15px 30px -12px black;
  width: 300px;
  height: auto;
}
.colLogp div {
  position: relative;
}

.spinnerContainer {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: rgb(253, 135, 98);
  background: linear-gradient(#00c9ff, #92fe9d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comingSoonContainer {
  width: 100vw;
  padding-top: 80px;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - 80px);
  background: rgb(253, 135, 98);
  background: linear-gradient(#00c9ff, #92fe9d);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comingSoonContainer > div:first-child {
  position: relative;
  top: 5vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 5);
  left: 5vw;
  align-self: flex-start;
}
.comingSoonContainer div:last-child {
  position: relative;
}

.preEventHide {
  display: none;
}
.preEventShow {
  display: block;
}

@media screen and (max-device-height: 628px) {
  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgContainer img {
    width: 225px;
  }
}
