.container {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - 80px);
  z-index: 1;
  background: rgb(253, 135, 98);
  background: linear-gradient(
    180deg,
    #00c9ff, #92fe9d
  );
  padding: 0;
  padding-top: 80px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.subContainer {
  width: 70vw;
  height: 70vh;
  height: calc(var(--vh, 1vh) * 70);
  background-color: #191828;
  color: #efedef;
  box-shadow: -1px 15px 30px -12px black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 20px 20px 10px;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  font-size: 52px;
  font-weight: 900;
  font-family: "poppins";
  padding-bottom: 10px;
}

.subContainer div:first-of-type {
  position: relative;
}
.subContainer > div:first-child {
  filter: invert(1);
  padding-right: 10px;
}

.subContainer2 {
  display: flex;
  height: inherit;
  width: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.colLog div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sponserItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Montserrat";
  line-height: 1.2;
}

.sponserItem img {
  width: 200px;
  padding: 10px;
}

.subContainer2 > div:last-child {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-device-width: 1024px) {
  .title {
    font-size: 32px;
  }
}
