.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  padding: 5px;
  height: 60px;
  font-size: 1em;
  background-color: transparent;
}

.container {
  position: absolute;
  width: 100vw;
  z-index: 10;
  overflow: hidden;
  overflow: hidden;
}
.main {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
  align-items: center;
}
.main li {
  margin: 0;
  margin-left: 1em;
  padding: 1em;
  list-style-type: none;
  transition: 0.1s;
  font-family: "Montserrat";
  font-size: 1.2em;
  font-weight: bold;
}
.navItem,
.logo {
  text-decoration: none;
  color: #262630;
  cursor: pointer;
}
.main li:hover {
  border-bottom: 0.4px solid #2b2844b6;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "harabararegular";
  height: 80px;
}
.logo img {
  width: 53px;
  height: 80px;
}
.ritu {
  font-size: 25px;
  letter-spacing: 2px;
  padding-bottom: 0.5em;
}

.navToggle {
  display: none;
  cursor: pointer;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  transition: 0.5s;
}

.socialContainer {
  padding: 0;
  display: none;
}

.socialContainer a {
  padding-left: 1em;
}
.socialContainer img {
  height: 30px;
}

.navFocusedItem {
  font-weight: 900;
  color: #45416e;
  font-size: 1.5em;
}

.date {
  color: #262630;
  font-family: "headliner";
  font-size: 20px;
  z-index: 15;
  position: relative;
  left: 8vw;
  transition-delay: 0.1s;
  transition-property: opacity, color;
  transition-duration: 0.5s;
}

.dateActive {
  color: white;
  opacity: 1;
}

@media screen and (max-device-width: 1024px) {
  .navContainer {
    padding: 10px;
    padding-left: 0;
  }
  .logo div:last-child div:first-child {
    font-size: 2em;
  }
  .main {
    list-style-type: none;
    width: 0;
    position: fixed;
    height: 99vh;
    height: calc(var(--vh, 1vh) * 99);
    top: calc(var(--vh, 1vh) * 0.5);
    right: 0;
    background-color: #262630;
    overflow-x: hidden;
    transition: 0.5s;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    color: transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    opacity: 0;
    padding: 0;
    padding-right: 10px;
  }
  .navItem {
    color: inherit;
  }
  .main li {
    font-size: 23px;
    transition: 0.5s ease-in-out;
    color: inherit;
    font-weight: bold;
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 12px;
  }

  .active {
    width: 50vw;
    color: white;
    opacity: 1;
  }
  .navFocusedItem {
    font-weight: 900;
    font-size: 2em;
    color: black;
  }
  .navToggle {
    display: block;
    z-index: 15;
  }
  .socialContainer {
    width: 50vw;
    position: absolute;
    bottom: calc(var(--vh, 1vh) * 5);
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap-reverse;
  }
  .socialContainer a img {
    filter: invert(1);
    padding: 3px;
  }
}

@media screen and (max-device-width: 320px) {
  .main li {
    font-size: 19px;
  }
}

@media screen and (max-device-width: 720px) {
  .socialContainer a:last-child {
    position: relative;
    bottom: 12vh;
  }
}
