.main {
  list-style-type: none;
  padding: 0;
  display: none;
}
.container {
  position: absolute;
  width: 100vw;
  z-index: 10;
  overflow: hidden;
}
.navContainer {
  font-size: 1em;
  background-color: transparent;
}
.main li {
  padding: 0.5em 0 1em 0;
  text-align: center;
  margin: 1em auto;
  transition: 0.1s;
  font-family: "harabararegular";
  letter-spacing: 2px;
}
.navItem,
.logo {
  text-decoration: none;
  color: #3f3d56;
  cursor: pointer;
}
.main li:hover {
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.7);
}

.logo div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4em;
  font-family: "harabararegular";
  height: 80px;
}
.logo img {
  width: 60px;
}

.logo div:last-child {
  letter-spacing: 2px;
}

.navToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: 1px solid;
  border-color: #647993;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
}

.active {
  display: block;
}

@media screen and (min-device-width: 720px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
    height: 60px;
  }
  .main {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
  }
  .main li {
    margin: 0;
    margin-left: 1em;
    padding: 1em;
  }

  .navToggle {
    display: none;
  }
}
