.container {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - 80px);
  z-index: 1;
  background: rgb(253, 135, 98);
  background: linear-gradient(#00c9ff, #92fe9d);
  padding: 0;
  padding-top: 80px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.subContainer {
  width: 70vw;
  height: 70vh;
  height: calc(var(--vh, 1vh) * 70);
  margin-right: 5em;
  background-color: #191828;
  color: #efedef;
  box-shadow: -1px 15px 30px -12px black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 40px 20px 10px;
  border-radius: 10px;
  overflow: hidden;
}
.subContainer div:first-of-type {
  position: relative;
}
.subContainer > div:first-child {
  filter: invert(1);
  padding-top: 10px;
  padding-right: 10px;
}

.subContainer2 {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-size: 52px;
  font-weight: 900;
  font-family: "harabararegular";
  letter-spacing: 2px;
  padding-bottom: 10px;
}
.writeUpContainer {
  font-family: "poppins";
  font-size: 2.5vh;
  overflow-y: scroll;
  padding-bottom: 10px;
}
.writeUpContainer::-webkit-scrollbar {
  width: 0;
}
.writeUpContainer {
  overflow: -moz-scrollbars-none;
}
.writeUpContainer {
  -ms-overflow-style: none;
}

.writeUpContainer p {
  margin: 0;
  line-height: 1.5;
}
.boldItems {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: inherit;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
.boldItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boldItem1 {
  font-weight: 900;
  font-size: 52px;
}

.boldItem2 {
  font-weight: 900;
  font-size: 36px;
}

.colLog div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-device-width: 1024px) {
  .container {
    justify-content: center;
  }
  .subContainer {
    margin-right: 0;
    width: 75vw;
  }
  .boldItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .boldItem {
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .boldItem1 {
    font-size: 34px;
  }

  .boldItem2 {
    font-size: 24px;
    text-align: center;
  }
}
