.container {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: rgb(253, 135, 98);
  background: linear-gradient(
    180deg,
    rgba(253, 135, 98, 1) 0%,
    rgba(233, 92, 85, 1) 50%,
    rgb(192, 38, 58) 100%
  );
}

.util {
  font-family: "harabararegular";
  font-size: 25px;
  position: absolute;
  transform: rotate(-90deg);
  bottom: 60px;
  right: -10px;
  letter-spacing: 2px;
}

@media screen and (min-device-width: 1024px) {
  .util {
    display: none;
  }
}
