.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: rgb(253, 135, 98);
  background: linear-gradient(
    180deg,
    rgba(253, 135, 98, 1) 0%,
    rgba(233, 92, 85, 1) 50%,
    rgba(214, 49, 72, 1) 100%
  );
}
