.container {
  padding-top: 80px;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - 80px);
  background: rgb(253, 135, 98);
  background: linear-gradient(
    180deg,
    rgba(253, 135, 98, 1) 0%,
    rgba(233, 92, 85, 1) 50%,
    rgba(214, 49, 72, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container div:nth-child(1) {
  position: relative;
  align-self: flex-start;
}
.container div:nth-child(3) {
  position: relative;
}
.deptIconIndex {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
