.container {
  padding-top: 80px;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - 80px);
  background: rgb(253, 135, 98);
  background: linear-gradient(
    #00c9ff, #92fe9d
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container > div:nth-child(1) {
  position: relative;
  align-self: flex-start;
  left: 5px;
}
.container div:nth-child(3) {
  position: relative;
}
.deptIconIndex {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.img_cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.imgContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.imgContainer img {
  width: 200px;
  height: 200px;
}
.textContainer {
  font-family: "Montserrat";
  font-size: 50px;
  text-transform: uppercase;
}
