.container {
  width: 100vw;
  height: 100vh;
  background: rgb(92, 68, 218);
  background: linear-gradient(
    180deg,
    rgba(92, 68, 218, 1) 0%,
    rgba(149, 84, 176, 1) 50%,
    rgba(207, 100, 133, 1) 100%
  );
}
.deptIconIndex {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
